:root {
  font-family:
    Inter,
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;

  color: #eef4f7;
  background: #030405;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html {
  min-width: 320px;
  min-height: 100%;
  background: #030405;
}

body {
  min-width: 320px;
  min-height: 100vh;

  margin: 0;

  overflow-x: hidden;

  background:
    radial-gradient(
      circle at 50% -10%,
      rgba(193, 229, 255, 0.08),
      transparent 35rem
    ),
    radial-gradient(
      circle at 50% 45%,
      rgba(100, 181, 255, 0.025),
      transparent 45rem
    ),
    #030405;
}

body::before {
  position: fixed;
  z-index: 9999;

  inset: 0;

  pointer-events: none;

  content: "";

  opacity: 0.18;

  background:
    repeating-linear-gradient(
      to bottom,
      transparent 0,
      transparent 4px,
      rgba(255, 255, 255, 0.008) 5px
    );
}

button,
textarea,
input,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
}

::selection {
  color: #061016;
  background: #ccecff;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #030405;
}

::-webkit-scrollbar-thumb {
  border: 2px solid #030405;
  border-radius: 999px;

  background: #273138;
}

#root {
  min-height: 100vh;
}